@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administracja</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a asp-controller="Admin" asp-action="Users" class="btn btn-sq-lg btn-primary">
                <img src="~/images/employee.png" alt="ASP.NET" class="img-responsive" />
                <h4 class="h4">Użytkownicy</h4>
            </a>
            <a asp-controller="Admin" asp-action="Cars" class="btn btn-sq-lg btn-success">
                <img src="~/images/car.png" alt="ASP.NET" class="img-responsive" />
                <h4 class="h4">Samochody</h4>
            </a>
            <a asp-controller="Admin" asp-action="Equipments" class="btn btn-sq-lg btn-success">
                <img src="~/images/equipment.png" alt="ASP.NET" class="img-responsive" />
                <h4 class="h4">Dodatkowy Sprzęt</h4>
            </a>

        </div>
    </div>
</div>

<style>
    .img-responsive{
        width: 180px !important;
        height: 190px !important;
    }
    .btn-sq-lg {
        width: 200px !important;
        height: 200px !important;
        background-color: gainsboro;
        border-color: black;
        font-size: 10px;
    }

    .h4 {
        color: black;
    }

    .btn-sq-lg:hover {
        border: 3px solid white;
        border-color: black;
        background-color: gray;
        font-weight: 800;
    }
</style>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}